[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-admin = "*"
flask-cors = "*"
flask-migrate = "*"
sqlalchemy = "*"
gunicorn = "*"
bcrypt = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start="flask --app src/app run"
init="flask --app src/app db init"
migrate="flask --app src/app db migrate"
upgrade="flask --app src/app db upgrade"
