[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
# para desarrollo
dev = "fastapi dev main.py"
reload = "uvicorn app.main:app --reload"
# para producción
start = "uvicorn main:app"
